<div class="container-fluid">
    <div class="row">
      <!-- Левая панель -->
      <div class="col-md-6 left-container" style="height: 100vh; overflow-y: auto;">
        <h4 class="text-center">Действия</h4>
        <div class="d-flex flex-column align-items-start mb-3">
          <button class="btn btn-primary mb-2">Добавить маршрут</button>
          <button class="btn btn-secondary mb-2">Удалить маршрут</button>
          <button class="btn btn-success mb-2">Сохранить маршрут</button>
        </div>
        <h5 class="text-center">Маршруты</h5>
        <ul class="list-group">
          <li class="list-group-item">Маршрут 1</li>
          <li class="list-group-item">Маршрут 2</li>
          <li class="list-group-item">Маршрут 3</li>
          <li class="list-group-item">Маршрут 4</li>
          <li class="list-group-item">Маршрут 5</li>
        </ul>
      </div>
  
      <!-- Правая панель с картой -->
      <div class="col-md-6 right-container">
        <div id="map" style="height: 70vh; width: 70vh;"></div>
      </div>
    </div>
  </div>