<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="general">Pilot Bay</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="general" routerLinkActive="active">Главная</a>
              </li>
              <li class="nav-item" *ngIf="isLogin && isPilot">
                <a class="nav-link" routerLink="flight_plan" routerLinkActive="active">Маршрут</a>
              </li>
              <li class="nav-item" *ngIf="isLogin && isAdmin">
                <a class="nav-link" routerLink="flight_plan_admin" routerLinkActive="active">Карта</a>
              </li>
              <li class="nav-item">
                <a *ngIf="isLogin && isPilot" class="nav-link" routerLink="forum" routerLinkActive="active">Связь</a>
                <a *ngIf="isLogin && isAirfield" class="nav-link" routerLink="forum_airfield" routerLinkActive="active">Связь</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="!isLogin">
                    <a class="nav-link" routerLink="login" routerLinkActive="active">Войти</a>
                </li>
                <li class="nav-item" *ngIf="isLogin && !isAdmin">
                  <a class="nav-link" routerLink="profile" routerLinkActive="active">Профиль</a>
                </li>
                <li class="nav-item" *ngIf="isLogin && isAdmin">
                  <a class="nav-link" routerLink="administration" routerLinkActive="active">Администрирование</a>
                </li>
                <li class="nav-item" *ngIf="isLogin">
                  <button class="nav-link" routerLinkActive="active" (click)="openLogoutDialog()">Выйти</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about" routerLinkActive="active">Справка</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
</header>