<form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm)">
    <div class="mb-3">
      <label for="InputLogin" class="form-label">Никнейм</label>
      <input type="text" class="form-control" id="InputLogin" formControlName="login">
    </div>
    <div class="mb-3">
      <label for="InputEmail" class="form-label">Почта</label>
      <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" formControlName="email">
    </div>
    <div class="mb-3">
      <label for="InputPassword" class="form-label">Пароль</label>
      <input type="password" class="form-control" id="InputPassword" formControlName="password">
    </div>
    <div class="mb-3">
      <label for="InputName" class="form-label">Имя</label>
      <input type="text" class="form-control" id="InputName" formControlName="name">
    </div>
    <div class="mb-3">
      <label for="InputSurname" class="form-label">Имя</label>
      <input type="text" class="form-control" id="InputSurname" formControlName="surname">
    </div>
    <div class="mb-3">
      <label for="InputPatronymic" class="form-label">Отчество</label>
      <input type="text" class="form-control" id="InputPatronymic" formControlName="patronymic">
    </div>
    <div class="mb-3">
      <label for="InputPhone" class="form-label">Телефон</label>
      <input type="text" class="form-control" id="InputPhone" formControlName="phone">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="Check" formControlName="remindme">
      <label class="form-check-label" for="Check">Запомнить меня</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="authForm.invalid">Зарегистрироваться</button>
</form>