<form [formGroup]="profileForm" class="p-3">
    <div class="mb-3">
        <div class="mb-3">
            <label for="InputFio" class="form-label">Широта</label>
            <input type="text" class="form-control" id="InputFio" formControlName="latitude">
      
            <div *ngIf="profileForm.get('latitude')?.invalid && (profileForm.get('latitude')?.touched || profileForm.get('latitude')?.dirty)">
              <label for="InputFio" class="form-label text-danger" *ngIf="profileForm.get('latitude')?.errors?.['required']">Обязательное поле</label>
              <label for="InputFio" class="form-label text-danger" *ngIf="profileForm.get('latitude')?.errors?.['minlength']">Минимум 3 символа</label>
            </div>
        </div>
        <div class="mb-3">
            <label for="InputPhone" class="form-label">Долгота</label>
            <input type="text" class="form-control" id="InputPhone" formControlName="longitude">
      
            <div *ngIf="profileForm.get('longitude')?.invalid && (profileForm.get('longitude')?.touched || profileForm.get('longitude')?.dirty)">
              <label for="InputPhone" class="form-label text-danger" *ngIf="profileForm.get('longitude')?.errors?.['required']">Обязательное поле</label>
              <label for="InputPhone" class="form-label text-danger" *ngIf="profileForm.get('longitude')?.errors?.['minlength']">Минимум 11 цифр</label>
            </div>
        </div>
        <div class="mb-3">
          <label for="InputAircraft" class="form-label">Международный код IATA</label>
          <input type="text" class="form-control" id="InputAircraft" formControlName="code">
    
          <div *ngIf="profileForm.get('code')?.invalid && (profileForm.get('code')?.touched || profileForm.get('code')?.dirty)">
            <label for="InputAircraft" class="form-label text-danger" *ngIf="profileForm.get('code')?.errors?.['required']">Обязательное поле</label>
          </div>
      </div>
      <div class="mb-3">
          <label for="InputAircraft" class="form-label">Описание</label>
          <input type="text" class="form-control" id="InputAircraft" formControlName="description">
      </div>
    </div>

    <div class="mb-3" [formGroup]="fuelForm">
      <label class="form-label">Типы топлива в наличии</label>

      <div *ngIf="isEditing">
        <div class="mb-3">
          <select formControlName="fuel" class="form-select">
            <option value="" disabled selected>Выберите тип топлива</option>
            <option *ngFor="let fuel of fuels" [value]="fuel.id">{{ fuel.type }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="InputPrice" class="form-label" placeholder="р/л">Цена за литр</label>
          <input type="text" class="form-control" id="InputPrice" formControlName="price">
        </div>

        <div class="mb-3">
          <button class="btn btn-primary" (click)="addFuel()" [disabled]="fuelForm.invalid">Добавить</button>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Топливо</th>
            <th scope="col">Стоимость</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let airfuel of airfuels">
            <th>
              <button class="btn btn-danger" [disabled]="!isEditing" (click)="deleteFuel(airfuel.fuelId)">Удалить</button>
            </th>
            <td>{{getFuelNameById(airfuel.fuelId)}}</td>
            <td>{{airfuel.price}}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="mb-3" [formGroup]="serveForm">
      <label class="form-label">Предоставляемые услуги</label>

      <div *ngIf="isEditing">
        <div class="mb-3">
          <label for="InputName" class="form-label" placeholder="р/л">Название</label>
          <input type="text" class="form-control" id="InputName" formControlName="name">
        </div>
        <div class="mb-3">
          <label for="InputDesc" class="form-label" placeholder="р/л">Описание</label>
          <input type="text" class="form-control" id="InputDesc" formControlName="description">
        </div>
        <div class="mb-3">
          <label for="InputServePrice" class="form-label" placeholder="р/л">Стоимость (руб)</label>
          <input type="text" class="form-control" id="InputServePrice" formControlName="price">
        </div>

        <div class="mb-3">
          <button class="btn btn-primary" (click)="addServe()" [disabled]="serveForm.invalid">Добавить</button>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Стоимость</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serve of serves">
            <th>
              <button class="btn btn-danger" [disabled]="!isEditing" (click)="deleteServe(serve.name)">Удалить</button>
            </th>
            <td>{{serve.name}}</td>
            <td>{{serve.description}}</td>
            <td>{{serve.price}}</td>
          </tr>
        </tbody>
      </table>

    </div>
        
    <div class="mb-3" *ngIf="!isEditing" >
      <button class="btn btn-primary" (click)="onSubmit()">Редактировать</button>
    </div>
    <div class="mb-3" *ngIf="isEditing">
        <button class="btn btn-primary" [disabled]="profileForm.invalid" (click)="onSave()">Сохранить</button>
    </div>
    <div class="mb-3" *ngIf="isEditing" >
        <button class="btn btn-primary" (click)="onCancel()">Отмена</button>
    </div>
    
</form>