<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Изменение маршрута</h4>
    <button
        type="button"
        class="btn-close"
        aria-describedby="modal-title"
        (click)="activeModal.dismiss('Cross click')"
    ></button>
</div>
<div class="modal-body" [formGroup]="form">
    <div class="mb-3">
        <label for="InputFPName" class="form-label">Название маршрута</label>
        <input type="text" class="form-control" id="InputFPName" formControlName="name">
      
        <div *ngIf="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)">
            <label for="InputFPName" class="form-label text-danger" *ngIf="form.get('name')?.errors?.['required']">Обязательное поле</label>
            <label for="InputFPName" class="form-label text-danger" *ngIf="form.get('name')?.errors?.['minlength']">Минимум 3 символа</label>
        </div>
    </div>

        

        <div class="row">
            <div class="col mb-3">
                <select formControlName="airfield" class="form-select" placeholder="Аэродром" id="airfield">
                    <option value="" disabled selected>Выберите аэродром</option>
                    <option *ngFor="let airfield of airfields" [value]="airfield.id">{{ airfield.code }}</option>
                </select>

                <div class="mb-3" *ngIf="isDublicateRow">
                    <label for="airfield" class="form-label text-danger">Такая точка уже занесена в маршрут</label>
                </div>
            </div>
            <div class="col mb-3 ms-auto">
                <button class="btn btn-primary" (click)="addNewRow()" [disabled]="form.invalid">Добавить</button>
            </div>
        </div>

        

        <div class="row mb-3 d-flex" style="gap: 10px;">
            <button class="col btn btn-secondary btn-sm" (click)="moveRowUp()" [disabled]="selectedRow === undefined">Вверх</button>
            <button class="col btn btn-secondary btn-sm" (click)="moveRowDown()" [disabled]="selectedRow === undefined">Вниз</button>
            <button class="col btn btn-danger btn-sm" (click)="deleteRow()" [disabled]="selectedRow === undefined">Удалить</button>
        </div>

    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="align-middle">№</th>
            <th scope="col" class="align-middle">Код IATA</th>
            <th scope="col" class="align-middle">Дозаправка</th>
            <th scope="col" class="align-middle">Марки топлива в наличии</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows; let i = index" (click)="selectRow(row)" [class.table-active]="row === selectedRow">
            <td>{{i+1}}</td>
            <td>{{row.airfield.code}}</td>
            <td>{{row.isRefuel}}</td>
            <td>{{row.fuels}}</td>
          </tr>
        </tbody>
      </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('cancel click')">Отмена</button>
    <button type="button" class="btn btn-danger" (click)="save()" [disabled]="rows.length < 2">Сохранить</button>
</div>