<div class="container mt-5">
    <h1 class="text-center">Справка о системе</h1>
    <div class="card">
      <div class="card-header">
        <h2>Предназначение системы</h2>
      </div>
      <div class="card-body">
        <p>Данная система разработана для оказания услуг малой авиации.</p>
        <p>Эта страница предоставляет полную справочную информацию о системе.</p>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        <h2>Функции пользователей</h2>
      </div>
      <div class="card-body">
    <div class="">
      <h2>Функции администратора системы</h2>
      <ul class="list-group">
        <li class="list-group-item">Авторизация пользователя в системе (ввод логина/пароля);</li>
        <li class="list-group-item">Просмотр списка зарегистрированных пользователей</li>
        <li class="list-group-item">Просмотр интерактивной карты</li>
        <li class="list-group-item">Просмотр справочной информации</li>
      </ul>
    </div>

    <div class="mt-4">
      <h2>Функции пилота</h2>
      <ul class="list-group">
        <li class="list-group-item">Авторизация пользователя в системе (ввод логина/пароля);</li>
        <li class="list-group-item">Просмотр интерактивной карты</li>
        <li class="list-group-item">Прокладывание маршрута полёта с учётом возможности дозаправки необходимым типом топлива</li>
        <li class="list-group-item">Ведение переписки с аэродромами, входящими в маршруты, созданные пользователем</li>
        <li class="list-group-item">Редактирование личного профиля</li>
        <li class="list-group-item">Просмотр справочной информации</li>
      </ul>
    </div>

    <div class="mt-4">
      <h2>Функции администратора аэродрома</h2>
      <ul class="list-group">
        <li class="list-group-item">Авторизация пользователя в системе (ввод логина/пароля);</li>
        <li class="list-group-item">Ведение переписки с пилотами</li>
        <li class="list-group-item">Редактирование личного профиля</li>
        <li class="list-group-item">Просмотр справочной информации</li>
      </ul>
    </div>
      </div>
    </div>
  


    <div class="card mt-4">
      <div class="card-header">
        <h2>Руководство пользователя</h2>
      </div>
      <div class="card-body">
      <p>
        После перехода на сайт системы пользователь переходит на основную страницу системы (рисунок 1). 
        Пользователь может перейти на страницу авторизации (рисунок 2) или на страницу справки (рисунок 3)
         с помощью нажатий на пункты меню навигации «Войти» и «Справка» в шапке сайт
      </p>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/1.png" class="card-img-top" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 1 – Основная страница системы</p>
        </div>
      </div>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/2.png" class="card-img-top responsive-image w-75" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 2 – Страница авторизации</p>
        </div>
      </div>

      <div class="card card-fit ms-auto me-auto">
        <img src="images/3.png" class="card-img-top" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 3 – Страница справки</p>
        </div>
      </div>
      <p>
        После перехода на страницу справки пользователь может ознакомиться со справочной информацией и перейти на основную страницу системы при помощи нажатия на пункт «Главная» в меню навигации, либо нажатия на кнопку «На главную» в нижней части страницы справки.
      </p>
      <p>
        После перехода на страницу авторизации пользователь может авторизоваться в системе, заполнив поля «Псевдоним» и «Пароль», и нажав на кнопку «Войти». Также пользователь может перейти на страницу регистрации (рисунок 4), нажав на кнопку «Регистрация». После успешной авторизации пользователь переходит на основную страницу системы.
      </p>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/4.png" class="card-img-top responsive-image w-75" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 4 – Страница регистрации</p>
        </div>
      </div>
      <p>
        На странице регистрации пользователь может выбрать тип учётной записи при помощи выбора одной из радио-кнопок «Пилот» и «Аэродром». 
        Также для регистрации пользователю необходимо заполнить поля «Псевдоним» и «Пароль». 
        После успешной регистрации пользователь переходит на основную страницу системы.
      </p>

      <p>
      Также для регистрации пользователю необходимо заполнить поля «Псевдоним» и «Пароль». После успешной регистрации пользователь переходит на основную страницу системы.
После того, как пользователь был авторизован, либо зарегистрирован, возможности пользователя зависят от типа его учётной записи.
Если в системе авторизовался пользователь-администратор системы, то при помощи меню навигации он может перейти на страницу карты администратора (рисунок 5) по пункту «Карта», 
перейти на страницу администрирования (рисунок 6) по пункту «Администрирование», перейти на страницу справки по пункту «Справка», 
а также может вызвать модальное окно подтверждения выхода из учётной записи (рисунок 7) по пункту «Выйти».
При переходе на страницу администрирования администратор системы может просмотреть всех зарегистрированных в системе пользователей, 
разделённых на две таблицы в зависимости от типа их учётных записей.
После вызова окна подтверждения выхода из учётной записи
пользователь может закрыть модальное окно нажатием на кнопку «Отмена» или кнопку «Х». Также пользователь может выйти из своей учётной записи, нажав на кнопку «Подтвердить», в таком случае пользователь перейдёт на основную страницу системы.
При переходе на страницу карты администратора администратор системы может просмотреть карту, на которой расположены маркеры всех зарегистрированных в системе аэродромов. Также администратор может вызвать модальное окно профиля аэродрома в режиме администрирования (рисунок 8), нажав на маркер данного аэродрома на карте.
При открытии модального окно профиля аэродрома администратор системы может просмотреть информацию об аэродроме, а также может переключить флаг «Отображать на карте», влияющий на отображение данного аэродрома на карте пилот Закрыть модальное окно администратор может нажав на кнопку «Ок» или на кнопку «Х».
Если в системе авторизовался пользователь-пилот, то при помощи меню навигации он может перейти на страницу маршрутов (рисунок 9) по пункту «Маршрут», перейти на страницу связи с аэродромами (рисунок 10) по пункту «Связь», перейти на страницу профиля пилота (рисунок 11) по пункту «Профиль», а также может перейти на страницу справки по пункту «Справка» и вызвать модальное окно подтверждения выхода из учётной записи по пункту «Выйти».
      </p>

      <div class="card card-fit ms-auto me-auto">
        <img src="images/5.png" class="card-img-top" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 5 – Страница карты администратора</p>
        </div>
      </div>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/6.png" class="card-img-top" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 6 – Страница администрирования</p>
        </div>
      </div>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/7.png" class="card-img-top responsive-image w-75" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 7 – Модальное окно подтверждения выхода из учётной записи</p>
        </div>
      </div>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/8.png" class="card-img-top responsive-image w-75" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 8 – Модальное окно профиля аэродрома в режиме администрирования</p>
        </div>
      </div>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/9.png" class="card-img-top" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 9 – Страница маршрутов</p>
        </div>
      </div>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/10.png" class="card-img-top" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 10 – Страница связи с аэродромами</p>
        </div>
      </div>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/11.png" class="card-img-top responsive-image w-75" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 11 – Страница профиля пилота</p>
        </div>
      </div>
      <p>
При переходе на страницу маршрута пользователь может просматривать карту с расположенными на ней зарегистрированными в системе аэродромами.
Также может нажать на маршрут в списке «Маршруты», тогда на карте отобразится траектория выбранного маршрут
Пользователь может удалить выбранный маршрут нажатием по кнопке «Удалить», а также может вызвать модальное окно создания/редактирования маршрута (рисунок 12) нажатием кнопки «Изменить» или «Создать» соответственно. 
      </p>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/12.png" class="card-img-top" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 12 – Модальное окно создания/редактирования маршрута</p>
        </div>
      </div>
      <p>
Также пользователь может открыть модальное окно профиля аэродрома (рисунок  13), нажав на маркер данного аэродрома на карте.
При переходе на модальное окно создания/редактирования маршрута пользователь может заполнить поле «Название маршрута», может добавлять в таблицу аэродромы, выбирая их в раскрывающимся списке и нажимая на кнопку «Добавить». Пользователь может оценить возможность дозаправки на аэродроме, у которого в таблице в столбце «Дозаправка» стоит символ «+». Данный символ проставляется у аэродрома, если у него в наличии топливо, указанное пользователем на странице пилот Также при выделении строки в таблице, пользователь может перемещать строку в таблице по вертикали нажатием кнопок «Вверх» и «Вниз», а также может удалить выделенную строку нажатием кнопки «Удалить». Пользователь может сохранить маршрут только с заполненным названием и с как минимум двумя записями в таблице. Пользователь может также закрыть форму, нажав на кнопку «Отмена» или «Х», тем самым отменив изменения маршрут
При открытии модального окно профиля аэродрома пользователь может просмотреть представленную в окне информацию об аэродроме. Закрыть модальное окно администратор может нажав на кнопку «Ок» или на кнопку «Х».
При переходе пользователя на страницу связи с аэродромами пользователь может выбрать маршрут из раскрывающегося списка «Маршруты», тогда в списке «Контакты» отобразятся все аэродромы выбранного маршрут Пользователь может нажать на аэродром в списке «Контакты», тогда в окне диалога отобразится переписка пользователя с данным аэродромом. Пользователь может ввести текст сообщения в поле ввода и отправить сообщение, нажав на кнопку «Отправить». Диалоговое окно обновится автоматически через 30 секунд, отображая актуальное состояние переписки с аэродромом. Если пользователь ранее не составлял маршруты, раскрывающийся список «Маршруты» будет пуст, соответственно, чтобы отправить аэродрому сообщение, пользователь должен включить данный аэродром в маршрут.
При переходе на страницу профиля пилота пользователь может просмотреть информацию о пилоте и его самолёте, расположенную на странице. Также пользователь может перевести страницу профиля пилота в режим редактирования (рисунок 14), нажав на кнопку «Редактировать».
      </p>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/13.png" class="card-img-top" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 13 – Модальное окно профиля аэродрома</p>
        </div>
      </div>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/14.png" class="card-img-top responsive-image w-50" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 14 – Страница профиля пилота в режиме редактирования</p>
        </div>
      </div>
      <p>
На странице профиля пилота в режиме редактирования пользователь может заполнить поля информацией о пилоте, заполнить поле «Модель самолёта», а также выбрать тип топлива для самолёта в выпадающем списке «Тип топлива». Пользователь может сохранить поля формы нажатием на кнопку «Сохранить», только если все поля заполнены, тем самым переведя страницу в режим просмотр Также пользователь может перевести страницу в режим просмотра, нажав на кнопку «Отменить», тем самым отменив все
изменения полей формы.
Если в системе авторизовался пользователь-аэродром, то при помощи меню навигации он может перейти на страницу связи с пилотами (рисунок 15) по пункту «Связь», может перейти на страницу профиля аэродрома (рисунок 16) по пункту «Профиль», а также может перейти на страницу справки по пункту «Справка» и вызвать модальное окно подтверждения выхода из учётной записи по пункту «Выйти».
      </p>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/15.png" class="card-img-top" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 15 – Страница связи с пилотами</p>
        </div>
      </div>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/16.png" class="card-img-top" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 16 – Страница профиля аэродрома</p>
        </div>
      </div>
      <p>
При переходе на страницу связи с пилотами пользователь может выбрать пилота в списке «Контакты», тогда в диалоговом окне отобразится переписка с выбранным пилотом. Пользователь может ввести текст сообщения в поле ввода и отправить сообщение, нажав на кнопку «Отправить». Диалоговое окно обновится автоматически через 30 секунд, отображая актуальное состояние переписки.
При переходе на страницу профиля аэродрома пользователь может просмотреть на ней информацию об аэродроме, топливе, находящемся в данный момент в наличии, и предоставляемых аэродромом услугах. Также пользователь может перевести страницу профиля аэродрома в режим редактирования (рисунок 17), нажав на кнопку «Редактировать».
При переходе на страницу профиля аэродрома в режиме редактирования пользователь может заполнить поля информацией об аэродроме, добавить в таблицу или удалить типы топлива, находящиеся в наличии, и установить для них цену. Также пользователь может добавить в таблицу или удалить предоставляемые аэродромом услуги, а также может установить для них цену. 
Пользователь может сохранить поля формы нажатием на кнопку «Сохранить», только если все поля заполнены, тем самым переведя страницу в режим просмотр Также пользователь может перевести страницу в режим просмотра, нажав на кнопку «Отменить», тем самым отменив все изменения полей формы.
      </p>
      <div class="card card-fit ms-auto me-auto">
        <img src="images/17.png" class="card-img-top" alt="...">
        <div class="card-body pt-0">
          <p class="card-text text-center">Рисунок 17 – Страница профиля аэродрома в режиме редактирования</p>
        </div>
      </div>

      </div>
    </div>

  
    <div class="mt-4">
      <h2>Систему разработал</h2>
      <p>Учащийся Титов И.</p>
    </div>
    <button type="button" class="btn btn-outline-secondary" (click)="onClick()">На главную</button>
</div>
  