<div class="container mt-5">
  <header class="text-center mb-4">
    <h1>Пилотирование с умом</h1>
    <p class="lead">Составляйте полётные планы и связывайтесь с аэродромами в реальном времени</p>
  </header>

  <section class="mb-5">
    <h2>О нашем сервисе</h2>
    <p>
      Наш веб-сервис предназначен для пилотов малой авиации, он предоставляет удобные инструменты для составления полётных планов с учётом наличия топлива на аэродромах. 
      Мы понимаем, как важно иметь доступ к актуальной информации, поэтому мы предлагаем:
    </p>
    <ul>
      <li>Интерактивные карты с данными о топливе на аэродромах</li>
      <li>Лаконичное, но информативное составление полётных планов</li>
      <li>Чат для связи с аэродромами и получения оперативной информации</li>
    </ul>
  </section>

  <section class="mb-5">
    <h2>Как это работает</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Составление плана</h5>
            <p class="card-text">Последовательно введите данные об аэродромах, которые вы планируете посетить и система автоматически построит по этим точкам маршрут. Построенные маршруты отображаются на интерактивной карте.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Проверка топлива</h5>
            <p class="card-text">Получите актуальную информацию о наличии топлива на аэродромах в вашем маршруте.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Чат с аэродромами</h5>
            <p class="card-text">Связывайтесь с аэродромами через встроенный чат для получения оперативной информации и поддержки.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
