<h4 class="text-center mb-5">Регистрация</h4>
<form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm)" class="p-3">
    <div class="mb-3">
      <label for="InputLogin" class="form-label">Псевдоним</label>
      <input type="text" class="form-control" id="InputLogin" formControlName="login">

      <div *ngIf="authForm.get('login')?.invalid && (authForm.get('login')?.touched || authForm.get('login')?.dirty)">
        <label for="InputLogin" class="form-label text-danger" *ngIf="authForm.get('login')?.errors?.['required']">Обязательное поле</label>
        <label for="InputLogin" class="form-label text-danger" *ngIf="authForm.get('login')?.errors?.['minlength']">Минимум 4 символа</label>
        <label for="InputLogin" class="form-label text-danger" *ngIf="authForm.get('login')?.errors?.['maxlength']">Максимум 10 символов</label>
      </div>
      <div class="text-danger" *ngIf="loginError">Псевдоним не уникальный</div>
    </div>
    <div class="mb-3">
      <label for="InputPassword" class="form-label">Пароль</label>
      <input type="password" class="form-control" id="InputPassword" formControlName="password">

      <div *ngIf="authForm.get('password')?.invalid && (authForm.get('password')?.touched || authForm.get('password')?.dirty)">
        <label for="InputPassword" class="form-label text-danger" *ngIf="authForm.get('password')?.errors?.['required']">Обязательное поле</label>
        <label for="InputPassword" class="form-label text-danger" *ngIf="authForm.get('password')?.errors?.['minlength']">Минимум 4 символа</label>
        <label for="InputPassword" class="form-label text-danger" *ngIf="authForm.get('password')?.errors?.['maxlength']">Максимум 10 символов</label>
      </div>
    </div>
    <p class="form-label">Тип учётной записи</p>
    <div class="btn-group mb-3" role="group" aria-label="Radio toggle button group">

        <input value="option1" type="radio" class="btn-check" id="vbtn-radio1" autocomplete="off" formControlName="userType">
        <label class="btn btn-outline-danger" for="vbtn-radio1">Пилот</label>
        
        <input value="option2" type="radio" class="btn-check" id="vbtn-radio2" autocomplete="off" formControlName="userType">
        <label class="btn btn-outline-danger" for="vbtn-radio2">Аэродром</label>
        
    </div>

        
    <div class="mb-3">
      <button type="submit" class="btn btn-primary" [disabled]="authForm.invalid">Зарегистрироваться</button>
    </div>
    
</form>