<div class="btn-group mb-3" role="group" aria-label="Radio toggle button group">
    <input [(ngModel)]="radio" [value]="true" type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" [checked]="radio === true">
    <label class="btn btn-outline-danger" for="vbtn-radio1">Пилот</label>
    <input [(ngModel)]="radio" [value]="false" type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off" [checked]="radio === false">
    <label class="btn btn-outline-danger" for="vbtn-radio2">Аэродром</label>
</div>
<p>{{radio}}</p>
<app-auth-pilot *ngIf="radio === true"></app-auth-pilot>
<app-auth-airfield *ngIf="radio === false"></app-auth-airfield>