<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Выход из профиля</h4>
    <button
        type="button"
        class="btn-close"
        aria-describedby="modal-title"
        (click)="activeModal.dismiss('Cross click')"
    ></button>
</div>
<div class="modal-body">
    <p>
        <strong>Вы уверены, что хотите <span class="text-primary">выйти</span> из своего профиля?</strong>
    </p>
    <p>
        После выхода из профиля для продолжения работы будет необходима повторная авторизация.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('cancel click')">Отмена</button>
    <button type="button" class="btn btn-danger" (click)="confirm()">Подтвердить</button>
</div>